.flag-wrapper {
	leftRightArea()

	&.--left {
		position relative
		left 1.89rem
		margin-right 4.75rem
		height: 7rem
	}

	&.--right {
		position relative
		left 2.63rem
		margin-left 4.75rem
		height: 7rem
	}

	.flag {
		size relative
		width 400px
		background: #062149
		flag()
		min-height 100%
		opacity .97
		height 7rem
	}
}