.team-name {
	leftRightArea()

	teamColors()
	// text-shadow 0 0 1rem rgba(#000, .75)
	z-index 1

	&.--left {
		position relative
		left 0rem
		padding-right 2.5ch
	}

	&.--right {
		position relative
		right 0rem
		padding-left 2.5ch
	}
}